<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EFILoginHiDPI</key>
	<data>
	AQAAAA==
	</data>
	<key>EmuVariableUefiPresent</key>
	<data>
	WWVz
	</data>
	<key>LocationServicesEnabled</key>
	<data>
	AQ==
	</data>
	<key>SystemAudioVolume</key>
	<data>
	Fg==
	</data>
	<key>SystemAudioVolumeDB</key>
	<data>
	0A==
	</data>
	<key>bluetoothActiveControllerInfo</key>
	<data>
	j4KsBQAAAABjFJjg2ZoDvA==
	</data>
	<key>bluetoothInternalControllerInfo</key>
	<data>
	j4KsBQAAYxSY4NmaA7w=
	</data>
	<key>csr-active-config</key>
	<data>
	5wMAAA==
	</data>
	<key>fmm-computer-name</key>
	<data>
	SuKAmXMgTWFjIG1pbmk=
	</data>
	<key>fmm-mobileme-token-FMM</key>
	<data>
	YnBsaXN0MDDcAQIDBAUGBwgJCgsMDQ4QDRENEhMUFRYdXxAPdW5yZWdpc3RlclN0YXRl
	XxASZW5hYmxlZERhdGFjbGFzc2VzWWF1dGhUb2tlbl5kaXNhYmxlQ29udGV4dFZ1c2Vy
	aWRdZW5hYmxlQ29udGV4dFh1c2VybmFtZVhwZXJzb25JRFdhZGRUaW1lVGd1aWRYdXNl
	ckluZm9fEBNkYXRhY2xhc3NQcm9wZXJ0aWVzEAChD18QIWNvbS5hcHBsZS5EYXRhY2xh
	c3MuRGV2aWNlTG9jYXRvcl8QzEVBQVJBQUFBQkx3SUFBQUFBRnpxQmpJUkRtZHpMbWxq
	Ykc5MVpDNWhkWFJvdlFDdzh6Vnl3Umk1TVkxU1hTOUFoX09yNVhHc1g1V05LaUlTUjgx
	RXJYN3VBbTU0NklLUEZKSFFaalRVOHAyN2VWejVZMWlUcjJBeWdMMmdjWXhNRGp0YmJP
	R05FWHo2YTkwVXhYU0JCYnlPSklwcElVQmNWbmhUUW05WV83eHhPaHZrNV9Qb090MXN4
	WVFodmZENGYydkc0ZHZMWHd+fhEB9V56amR5empsQHFxLmNvbVoxMjc4MjA2ODk4I0HX
	OoGOFeJcXxAkRDkyODk4MEEtODMyQy00MUY2LUI0QzYtOEEzOTdBRDVGNjk40xcYGRob
	HF8QFUluVXNlT3duZXJEaXNwbGF5TmFtZV8QE0luVXNlT3duZXJGaXJzdE5hbWVfEBJJ
	blVzZU93bmVyTGFzdE5hbWVjXyBXR1IpYldHUilhXyDRDx7VHyAhIiMkJSYnKFZhcHNF
	bnZYaG9zdG5hbWVdaWRzSWRlbnRpZmllclZzY2hlbWVdYXV0aE1lY2hhbmlzbVpQcm9k
	dWN0aW9uXxATcDEwLWZtaXAuaWNsb3VkLmNvbV8QJEQxNzgwRTk0LUUzMTItNEUxNS05
	NEU3LTIwNzU1Qjc0MjdBN1VodHRwc1V0b2tlbgAIACEAMwBIAFIAYQBoAHYAfwCIAJAA
	lQCeALQAtgC4ANwBqwGuAb0ByAHRAfgB/wIXAi0CQgJJAk4CUQJUAl8CZgJvAn0ChAKS
	Ap0CswLaAuAAAAAAAAACAQAAAAAAAAApAAAAAAAAAAAAAAAAAAAC5g==
	</data>
	<key>fmm-mobileme-token-FMM-BridgeHasAccount</key>
	<data>
	QnJpZGdlSGFzQWNjb3VudFZhbHVl
	</data>
	<key>security-mode</key>
	<string>none</string>
	<key>specialbootdevice</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAABAQEGAAAAAxcQAAEAAAAAAAAAAAAAAAQBKgACAAAAKEAG
	AAAAAABg8sgdAAAAAHsh5yfqTp1MmqDaZRthbD4CAgQDJAD3/HS+fAvzSZFHAfQELmhC
	qwGFAkQsJ06z20phvwfqRn//BAA=
	</data>
</dict>
</plist>